# Node modules
node_modules/


# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*


# Runtime files
pids/
*.pid
*.seed
*.pid.lock

# IDE/Editor files
.vscode/
.idea/
*.swp

# Build files

build/

# Dependencies
package-lock.json